@import '../../../../styles/utilities';

.form-section {
	display: flex !important;
	justify-content: center;
}

.form {
	width: 80% !important;
	text-align: center;

	& > div {
		margin: 1rem 0 !important;
	}
}
